@import '../../styles/variables.scss';

.home{
    // background: pink;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    flex: 1;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 24%);
    grid-auto-rows: minmax(180px, auto);

    @media screen and (max-width: 1400px) {
        grid-template-columns: repeat(3,33%);
    }
    @media screen and (max-width: 1024px) {
        grid-template-columns: repeat(2,48%);

    }

    @media screen and (max-width: 520px) {
        grid-template-columns: 100%;
    }

    .box{
        border: 1px solid $soft-bg;
        padding: 20px;
        border-radius: 10px;

    }

    .box-1{
        grid-column: span 1;
        grid-row: span 3;
    }
    .box-4{
        grid-column: span 1;
        grid-row: span 3;
    }
    .box-7{
        grid-column: span 2;
        grid-row: span 2;

        @media screen and (max-width: 520px) {
            grid-column:span 1;
        }
    }

}