.navbar{
    display: flex;
    justify-content: space-between ;
    align-items: center;
    padding: 20px;
    position: relative;
    height: 100%;

    .logo{
        display: flex;
        align-items: flex-end;
        font-weight: 500;
        gap: 1rem;

        img{
            width: 40px;
            height: 40px;

        }

    }

    .icons{
        display: flex;
        align-items: center;
        gap: 2rem;

        .notification{
            position: relative;

            span{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 16px;
                width: 16px;
                border-radius: 50%;
                background: red;
                font-style: 12px;
                position: absolute;
                top: -10px;
                right: -10px;
            }
        }

        .user{
            display: flex;
            align-items: center;
            gap: 10px;

            img{
                width: 26px;
                height: 26px;
                object-fit: cover;
                border-radius: 50%;
            }
        }

        .not-mobile{
            
            @media screen and (max-width : 768px) {
                display: none;
            }
        }

        

        
    }

    .toolbar{
        display: flex;
        position: absolute;
        z-index: 5;
        right: 0;
        top: 100%;
        background: #384256;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        height: 320px;
        padding: 1rem;
        width: 180px;

        .links {
            display: flex;
            flex-direction: column;
            flex: 1;
            justify-content: flex-end;
            gap: 0.8rem;
            width: 100%;
            padding: 0.5rem;
        }
        .mobile{
            display: none;
            cursor: pointer;

            @media screen and (max-width : 768px) {
                display: flex;
            }
        }
    }

}