@import '../../styles/variables.scss';

.navbar{
    display: flex;
    justify-content: space-between ;
    align-items: center;
    padding: 20px;
    position: relative;
    height: 100%;
    // border-bottom: 3px solid $soft-bg;

    .logo{
        display: flex;
        align-items: center;
        font-weight: 500;
        gap: 1rem;

        .profile-dimension{
            width: 40px;
            height: 40px;
            object-fit: cover;
            border-radius: 10%;
        }

    }

    .featureSection{
        display: flex;
        gap: 1rem;
        align-items: center;

        .icons{
            display: flex;
            align-items: center;
            gap: 1rem;

            .notification{
                position: relative;

                span{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 16px;
                    width: 16px;
                    border-radius: 50%;
                    background: red;
                    color: white;
                    font-size: 12px;
                    position: absolute;
                    top: -8px;
                    right: -8px;
                }
            }

            .icon{
                height: 20px;
                width: 20px;
            }

            .not-mobile{
                
                @media screen and (max-width : 768px) {
                    display: none;
                }
            }

            

            
        }

    }

    .toolbar{
        font-size: 0.9rem;
        display: flex;
        position: absolute;
        z-index: 5;
        right: 0;
        top: 100%;
        background: $dark-bg;
        flex-direction: column;
        gap: 1rem;
        height: 320px;
        padding: 1rem;
        min-width: 180px;
        width: 220px;
        transition: all 1s ease-in-out;

        .links {
            display: flex;
            flex-direction: column;
            flex: 1;
            justify-content: space-between;
            width: 100%;
            padding: 0.5rem;

            .upper-links{
                display: flex;
                flex-direction: column;
                gap: 10px;
            }


        }
        .mobile{
            display: none;
            cursor: pointer;

            @media screen and (max-width : 768px) {
                display: flex;
            }
        }
    }

}